<app-info-banner *ngIf="entity" [isDetailMode]="true" [entity]="entity"></app-info-banner>
<article *ngIf="entity">
    <h2>簡介</h2>
    <div class="content">
        <p *ngIf="!entity.overview">
            目前沒有簡介。
            <a href="https://www.themoviedb.org/login?language=zh-TW&redirect=tv/{{entity.id}}/edit" target="_blank">貢獻內容</a>
        </p>
        <p>{{entity.overview}}</p>
    </div>

    <h2>播映平台</h2>
    <div class="content">
        <p>目前沒有平台播映本作品</p>
    </div>
</article>
<div *ngIf="error" class="error">
    <h2>找不到影劇資料</h2>
    <p>{{error}}</p>
</div>