<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
    <ul class="carousel-inner" #carousel>
        <li *ngFor="let item of items" class="carousel-item" (swipeleft)="next()" (swiperight)="prev()">
            <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
        </li>
    </ul>
</section>
<button mat-button *ngIf="showControls" class="prev-btn" aria-label="previous" (click)="prev(true)">
    <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<button mat-button *ngIf="showControls" class="next-btn" aria-label="next" (click)="next(true)">
    <mat-icon>keyboard_arrow_right</mat-icon>
</button>
<div class="paginator">
    <mat-icon aria-label="slide " *ngFor="let item of items; let i = index"
        [class.active]="currentSlide === i" (click)="goToPage(i)">lens</mat-icon>
</div>