<header>
    <app-carousel>
        <ng-container *ngFor="let item of items$ | async | slice:0:7 ">
            <ng-container *carouselItem>
                <app-info-banner [entity]="item" [isLoading]="item.isLoading" [entityType]="entityType$ | async"></app-info-banner>
            </ng-container>
        </ng-container>
    </app-carousel>
</header>
<article>
    <h2>熱門選擇</h2>
    <div class="cardholder">
        <app-info-card *ngFor="let item of items$ | async" [entity]="item" [entityType]="entityType$ | async"></app-info-card>
    </div>
</article>
