<header>
    <app-carousel>
        <ng-container *ngFor="let item of items.slice(0,7)">
            <ng-container *carouselItem>
            <div class="item" *ngIf="isLoading">
                <div class="ph-item">
                    <div class="ph-picture"></div>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-12 empty"></div>
                            <div class="ph-col-4 big"></div>
                            <div class="ph-col-8 empty big"></div>
                            <div class="ph-col-12 empty"></div>
                            <div class="ph-col-12"></div>
                            <div class="ph-col-12"></div>
                            <div class="ph-col-12"></div>
                            <div class="ph-col-12"></div>
                            <div class="ph-col-12"></div>
                            <div class="ph-col-10"></div>
                            <div class="ph-col-2 empty"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" *ngIf="!isLoading"
                [style.backgroundImage]="'url(https://image.tmdb.org/t/p/w1000_and_h563_face'+item.backdrop_path+')'">
                <div class="item-content">
                    <div class="poster">
                        <img *ngIf="item.poster_path" [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2'+item.poster_path" alt="poster" draggable="false">
                        <div *ngIf="!item.poster_path" class="poster-loading"></div>
                    </div>
                    <div class="info">
                        <h1 class="title">{{item.title || item.name}}</h1>
                        <div class="facts"></div>
                        <div class="overview">
                            <p>{{item.overview}}</p>
                        </div>
                        <div class="actions">
                            <button mat-flat-button color="accent"><mat-icon>play_arrow</mat-icon> 線上看</button>
                            <button mat-stroked-button><mat-icon>add</mat-icon> 加到片單</button>
                        </div>
                    </div>
                </div>
            </div>
            </ng-container>
        </ng-container>
    </app-carousel>
</header>

<article>
    <h2>熱門選擇</h2>
    <div class="cardholder">
        <mat-card *ngFor="let item of items.slice(1)">
            <img mat-card-image [src]="'https://image.tmdb.org/t/p/w600_and_h900_bestv2'+item.poster_path" alt="poster" draggable="false">
            <mat-card-header>
                <mat-card-title>{{item.title || item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.original_title || item.original_name}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <mat-card-content>
                <p>{{item.overview}}</p>
            </mat-card-content> -->
            <mat-card-actions>
                <button mat-stroked-button>線上看</button>
            </mat-card-actions>
        </mat-card>
    </div>
</article>

