@import '../../styles/variables';
@import '../../styles/placeholder-loading';

:host {
    min-height: 90vh;
    display: block;
}
header {
    position: relative;
    // max-height: 80vh;
}
.item {
    padding: 0;
    width: 100vw;
    height: 520px;
    background-color: mat-color($primary, 900);
    background-size: cover;
    color: mat-color($foreground, text);
    .ph-item {
        display: flex;
        .ph-picture {
            margin: 0 40px 0 28px;
            border-radius: 12px;
            max-width: 260px;
            height: 390px;
        }
        .ph-row {
            padding-right: 30px;
        }
    }
    .item-content {
        display: flex;
        height: 100%;
        padding: 25px 20px 60px;
        background-image: linear-gradient(to right, rgba(19%, 7%, 7%, 1) 150px, rgba(27%, 13%, 13%, .5) 100%);
        .poster {
            padding: 20px;
            width: 300px;
            img {
                width: 260px;
                border-radius: 12px;
            }
        }
        .info {
            padding: 20px;
            h1 {
                font-size: 1.8em;
                margin-top: 0;
            }
            .overview {
                opacity: .7;
                max-height: 168px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 7;
                overflow:hidden;
                p {
                    display: inline;
                }
            }
            .actions {
                padding: 20px 0;
                position: absolute;
                bottom: 82px;
                min-width: 300px;
                button {
                    margin-right: 16px;
                    font-size: 1.1em;
                    padding: 4px 22px 4px 14px;
                    border-color: rgba(255, 255, 255, 0.5);
                    &[color=accent] {
                        background-color: #ffffffcc;
                    }
                    mat-icon {
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
}

article {
    padding: 15px;
    @include tablet-down {
        padding: 5px;
        text-align: center;
    }
}
.cardholder {
    text-align: center;
}
mat-card {
    width: 160px;
    height: 400px;
    margin: 5px;
    display: inline-block;

    mat-card-header {
        height: 60px;
        ::ng-deep .mat-card-header-text {
            width: 100%;
            overflow: hidden;
            margin: 0;
        }
        mat-card-title, mat-card-subtitle {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    mat-card-actions{
        text-align: center;
    }
}
