@import '../../styles/variables';
:host {
    min-height: 90vh;
    display: block;
}
header {
    position: relative;
}

article {
    padding: 15px;
    @include tablet-down {
        padding: 5px;
        text-align: center;
    }
    h2 {
        margin: 20px 10px;
    }
}
.cardholder {
    text-align: center;
    @include mobile-down {
        white-space: nowrap;
        overflow-x: auto;
    }
}
mat-card {
    width: 160px;
    height: 385px;
    margin: 5px;
    display: inline-block;
    .mat-card-image {
        margin-bottom: 10px;
    }
    mat-card-header {
        height: 60px;
        ::ng-deep .mat-card-header-text {
            width: 100%;
            overflow: hidden;
            margin: 0;
        }
        mat-card-title, mat-card-subtitle {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    mat-card-actions{
        text-align: center;
        padding-top: 0;
        button {
            border-color: rgba(255, 255, 255, 0.5);
        }
    }
}
