@import '../../styles/variables';
table {
    width: 100%;
    height: 100%;
    th, td{
        padding: 3px 5px;
        a{
            color: mat-color($accent);
        }
    }
    // column def
    .col-poster {
        width: 60px;
    }
    .col-title {
        width: 120px;
    }
    .col-short {
        width: 90px;
    }
    .col-overview {
        max-width: 400px;
    }
}
