
<table id="main-data-table" mat-table matSort [dataSource]="dataSource">
<!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
        </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
    </td>
    </ng-container>
    <ng-container matColumnDef="poster">
        <th mat-header-cell *matHeaderCellDef>海報</th>
        <td mat-cell *matCellDef="let item"> <img style="width:50px;" src="https://image.tmdb.org/t/p/w92{{item.poster_path}}"></td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>片名</th>
        <td mat-cell *matCellDef="let item"> {{item.title}}</td>
    </ng-container>

    <ng-container matColumnDef="overview">
        <th mat-header-cell *matHeaderCellDef>簡介</th>
        <td mat-cell *matCellDef="let item">
            <div>
                {{item.overview}}
                <a href="https://www.themoviedb.org/movie/{{item.id}}}/edit?language=zh-TW" target="_blank">貢獻內容</a>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="popularity">
        <th mat-header-cell *matHeaderCellDef class="column-short" mat-sort-header>熱門度</th>
        <td mat-cell *matCellDef="let item"> {{item.popularity | number: '1.0-0' }}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
</table>