
.container {
    padding-bottom: 60px;
    text-align: center;
    h1 {
        margin: 40px 0;
    }
    button {
        width: 192px;
        display: block;
        margin: 20px auto;
        color: white;
        &.Google {
            background-color: #db4437;
        }
        &.Facebook {
            background-color: #385899;
        }
        &.Github {
            background-color: #000;
        }
        &[disabled] {
            opacity: .5;
        }
    }
}
