@import '../styles/variables';

// top toolbar
mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 3;
    padding-left: 10px;
    height: 56px !important;
    .title{
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }

    .link{
        display: none;
        @include tablet-up{
            display: inline-block;
        }
        &.active-link{
            display: inline-block;
            //color: mat-color($primary, default);
            background-color: mat-color($primary, 600);
        }
    }

    // the spacing in the middle
    .fill-remaining-space{
        flex: 1;
    }

    // toolbar items
    .toolbar-item{
        margin-left: 20px;
        font-size: 14px;
    }

    .selection-field{
        width: 100px;
    }

    mat-checkbox {
        font-size: 14px;
    }

    // the "Loading" bar
    mat-progress-bar {
        position: fixed;
    }
}

// sidenav
.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  h1.app-name {
    margin-left: 8px;
  }

  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

mat-nav-list a{
    &.active-link, &:focus {
        background-color: mat-color($accent, darker) !important;
    }
}

