<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<mat-toolbar color="primary" [class.elevated]="!isInMainPage || isScrolled ">
  <button mat-icon-button (click)="sidenav.toggle()" class="hamburger" aria-label="menu"><mat-icon>menu</mat-icon></button>
  <span class="title" routerLink="/">楓林晚 </span> &nbsp;

  <button mat-button class="link" *ngFor="let item of toolbarMenu" [routerLink]="item.link" routerLinkActive="active-link">
    {{item.name}}
  </button>
  <span class="fill-remaining-space"></span>

  <button mat-icon-button matTooltip="請我喝杯咖啡" aria-label="Donate" (click)="donate()">
    <mat-icon>insert_emoticon</mat-icon>
  </button>
  <button mat-button *ngIf="!userInfo" routerLink="/login">登入</button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="/my" >我的片單</button>
    <button mat-menu-item routerLink="/login" >登出</button>
  </mat-menu>
  <button mat-icon-button *ngIf="userInfo" class="avatar" [matMenuTriggerFor]="appMenu">
    <img [src]="userInfo.photoURL" alt="avatar">
  </button>
</mat-toolbar>
<!-- <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar> -->


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item routerLink="." *ngFor="let nav of menuTree" [routerLink]="nav.link"
        (click)="closeSidenav()" routerLinkActive="active-link">
        {{nav.name}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
