<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="fill-remaining-space"></span>

  <button mat-icon-button class="toolbar-item" matTooltip="Export Excel" (click)="exportExcel()">
    <mat-icon>grid_on</mat-icon>
  </button>
  <button mat-icon-button class="toolbar-item" matTooltip="Donate">
    <mat-icon>insert_emoticon</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>


<div class="main-content">
  <table id="main-data-table" mat-table matSort [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let item"> {{item.name}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    </table>
</div>