<mat-toolbar color="primary">
  <button mat-icon-button (click)="snav.toggle()" class="hamburger"><mat-icon>menu</mat-icon></button>
  <span class="title">楓林晚 </span> &nbsp;

  <button mat-button>電影</button>
  <button mat-button>台劇</button>
  <button mat-button>美劇</button>
  <button mat-button>陸劇</button>
  <button mat-button>日劇</button>
  <span class="fill-remaining-space"></span>

  <button mat-icon-button class="toolbar-item" matTooltip="Export Excel" (click)="exportExcel()">
    <mat-icon>grid_on</mat-icon>
  </button>
  <button mat-icon-button class="toolbar-item" matTooltip="Donate">
    <mat-icon>insert_emoticon</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>


<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
  <mat-nav-list>
  <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
  </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

<header>
    <!-- BACKGROUND IMAGE -->
    <div class="background hero"></div>
    <!-- INTRO SECTION -->
    <section id="intro">
      <!-- LOGO -->
      <div class="hero-logo">
        <img src="assets/images/logo.svg" alt="Logo" width="250" height="250">
      </div>
      <!-- CONTAINER -->
      <div class="homepage-container">
        <div class="hero-headline no-toc">支持正版，<br>才有更棒的作品。</div>
        <div class="hero-subline">在這裡找尋您想看的影劇的所有合法片源</div>
        <div class="hero-providers">
          <img src="assets/images/providers/1.jpg" alt="Netflix" matTooltip="Netflix" class="provider">
          <img src="assets/images/providers/2.jpg" alt="LINE TV" matTooltip="LINE TV" class="provider">
          <img src="assets/images/providers/3.jpg" alt="愛奇藝台灣站" matTooltip="愛奇藝台灣站" class="provider">
          <img src="assets/images/providers/4.jpg" alt="HBO GO" matTooltip="HBO GO" class="provider">
          <img src="assets/images/providers/5.jpg" alt="KKTV" matTooltip="KKTV" class="provider">
          <img src="assets/images/providers/6.jpg" alt="Apple TV+" matTooltip="Apple TV+" class="provider">
          <img src="assets/images/providers/7.jpg" alt="GagaOOLala" matTooltip="GagaOOLala" class="provider">
          <img src="assets/images/providers/8.jpg" alt="iTunes" matTooltip="iTunes" class="provider">
          <img src="assets/images/providers/9.jpg" alt="YouTube" matTooltip="YouTube" class="provider">
          <img src="assets/images/providers/10.jpg" alt="Google Play電影" matTooltip="Google Play電影" class="provider">
          <img src="assets/images/providers/11.jpg" alt="CATCHPLAY+" matTooltip="CATCHPLAY+" class="provider">
          <img src="assets/images/providers/12.jpg" alt="friDay影音" matTooltip="friDay影音" class="provider">
          <img src="assets/images/providers/13.jpg" alt="Hami Video" matTooltip="Hami Video" class="provider">
          <img src="assets/images/providers/14.jpg" alt="公視+" matTooltip="公視+" class="provider">
          <img src="assets/images/providers/15.jpg" alt="LiTV立視線上影視" matTooltip="LiTV立視線上影視" class="provider">
          <img src="assets/images/providers/16.jpg" alt="myVideo" matTooltip="myVideo" class="provider">
          <img src="assets/images/providers/17.jpg" alt="Vidol影音" matTooltip="Vidol影音" class="provider">
          <img src="assets/images/providers/18.jpg" alt="WeTV" matTooltip="WeTV" class="provider">
          <img src="assets/images/providers/19.jpg" alt="四季線上影視" matTooltip="四季線上影視" class="provider">
          <img src="assets/images/providers/20.jpg" alt="酷瞧" matTooltip="酷瞧" class="provider">
        </div>
      </div>
    </section>
  </header>
  </mat-sidenav-content>
</mat-sidenav-container>


<div class="main-content" *ngIf="false">
  <table id="main-data-table" mat-table matSort [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let item"> {{item.name}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    </table>
</div>