@import '../styles/variables';

// top toolbar
mat-toolbar{
    position: fixed;
    top: 0;
    z-index: 3;
    padding-left: 10px;
    height: $toolbar-height !important;
    .title{
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }

    .link{
        display: none;
        @include tablet-up{
            display: inline-block;
        }
        &.active-link{
            display: inline-block;
            background-color: mat-color($primary, 600);
        }
    }

    // the spacing in the middle
    .fill-remaining-space{
        flex: 1;
    }

    // toolbar items
    .toolbar-item{
        margin-left: 20px;
        font-size: 14px;
    }

    .selection-field{
        width: 100px;
    }

    mat-checkbox {
        font-size: 14px;
    }

    // the "Loading" bar
    mat-progress-bar {
        position: fixed;
    }
}

// sidenav
mat-sidenav {
    position: fixed;
    top: $toolbar-height;
}
mat-sidenav-content {
    padding-top: $toolbar-height;
}
