<header>
    <div class="background hero"></div>
    <section id="intro">
        <div class="hero-logo">
        <img src="assets/images/logo.svg" alt="Logo" width="250" height="250">
        </div>
        <div class="homepage-container">
        <div class="hero-headline no-toc">支持正版，<br>才有更棒的作品。</div>
        <div class="hero-subline">在這裡找尋您想看的影劇的所有合法片源</div>
        <div class="hero-providers">
            <img src="assets/images/providers/1.jpg" alt="Netflix" matTooltip="Netflix" class="provider">
            <img src="assets/images/providers/2.jpg" alt="LINE TV" matTooltip="LINE TV" class="provider">
            <img src="assets/images/providers/3.jpg" alt="愛奇藝台灣站" matTooltip="愛奇藝台灣站" class="provider">
            <img src="assets/images/providers/4.jpg" alt="HBO GO" matTooltip="HBO GO" class="provider">
            <img src="assets/images/providers/5.jpg" alt="KKTV" matTooltip="KKTV" class="provider">
            <img src="assets/images/providers/6.jpg" alt="Apple TV+" matTooltip="Apple TV+" class="provider">
            <img src="assets/images/providers/7.jpg" alt="GagaOOLala" matTooltip="GagaOOLala" class="provider">
            <img src="assets/images/providers/8.jpg" alt="iTunes" matTooltip="iTunes" class="provider">
            <img src="assets/images/providers/9.jpg" alt="YouTube" matTooltip="YouTube" class="provider">
            <img src="assets/images/providers/10.jpg" alt="Google Play電影" matTooltip="Google Play電影" class="provider">
            <img src="assets/images/providers/11.jpg" alt="CATCHPLAY+" matTooltip="CATCHPLAY+" class="provider">
            <img src="assets/images/providers/12.jpg" alt="friDay影音" matTooltip="friDay影音" class="provider">
            <img src="assets/images/providers/13.jpg" alt="Hami Video" matTooltip="Hami Video" class="provider">
            <img src="assets/images/providers/14.jpg" alt="公視+" matTooltip="公視+" class="provider">
            <img src="assets/images/providers/15.jpg" alt="LiTV立視線上影視" matTooltip="LiTV立視線上影視" class="provider">
            <img src="assets/images/providers/16.jpg" alt="myVideo" matTooltip="myVideo" class="provider">
            <img src="assets/images/providers/17.jpg" alt="Vidol影音" matTooltip="Vidol影音" class="provider">
            <img src="assets/images/providers/18.jpg" alt="WeTV" matTooltip="WeTV" class="provider">
            <img src="assets/images/providers/19.jpg" alt="四季線上影視" matTooltip="四季線上影視" class="provider">
            <img src="assets/images/providers/20.jpg" alt="酷瞧" matTooltip="酷瞧" class="provider">
        </div>
        </div>
    </section>
</header>
