<div class="item" *ngIf="isLoading">
    <div class="ph-item">
        <div class="ph-picture"></div>
        <div class="ph-info ph-col-12">
            <div class="ph-row">
                <div class="ph-col-12 empty"></div>
                <div class="ph-col-4 big"></div>
                <div class="ph-col-12 empty"></div>
                <div class="ph-col-12"></div>
                <div class="ph-col-12"></div>
                <div class="ph-col-12"></div>
                <div class="ph-col-12"></div>
                <div class="ph-col-12"></div>
                <div class="ph-col-10"></div>
                <div class="ph-col-2 empty"></div>
            </div>
        </div>
    </div>
</div>
<div class="item" [class.limit-height]="!showDetail" *ngIf="!isLoading"
    [style.backgroundImage]="entity.backdrop_path&&'url(https://image.tmdb.org/t/p/w780'+entity.backdrop_path+')'">
    <div class="item-content">
        <div class="poster" [class.limit-height]="!showDetail">
            <img *ngIf="entity.poster_path" [src]="'https://image.tmdb.org/t/p/w342'+entity.poster_path" alt="poster" draggable="false">
            <div *ngIf="!entity.poster_path" class="poster-loading"></div>
        </div>
        <div class="info">
            <h1 class="title">{{entity.title || entity.name}}</h1>
            <div class="facts">
                <span *ngIf="(entity.original_title || entity.original_name) !== (entity.title || entity.name)">
                    {{entity.original_title || entity.original_name}}
                </span>
                <span>{{(entity.first_air_date || entity.release_date) | slice:0:4 }}</span>
                <span>{{entity.genre_ids.join(' ')}}</span>
            </div>
            <div class="overview" [class.limit-overview]="!showDetail">
                <p>{{entity.overview}}</p>
            </div>
            <div class="spacer"></div>
            <div class="actions">
                <button mat-flat-button aria-label="Watch" color="accent" (click)="watch()"><mat-icon>play_arrow</mat-icon> 線上看</button>
                <button mat-stroked-button aria-label="Add to watch list" (click)="addToWatchList()"><mat-icon>add</mat-icon> 加到片單</button>
                <button mat-stroked-button aria-label="Details" *ngIf="!showDetail" routerLink="/info/{{entity.id}}" [state]="entity">
                    <mat-icon>list</mat-icon> 更多資訊
                </button>
            </div>
        </div>
    </div>
</div>
