<footer>
    <div class="grid-fluid">
        <div class="footer-block">
            <h3>資料來源</h3>
            <ul>
                <li><a rel="noreferrer" href="//themoviedb.org" target="_blank">The Movie Database</a></li>
                <li><a rel="noreferrer" href="//www.ptt.cc/bbs/" target="_blank">批踢踢實業坊</a></li>
                <li><a rel="noreferrer" href="//www.imdb.com/" target="_blank">IMDb</a></li>
                <li><a rel="noreferrer" href="//www.rottentomatoes.com/" target="_blank">Rotten Tomatoes</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <h3>關於本站</h3>
            <ul>
                <li><a rel="noreferrer" href="{{REPO_URL}}/blob/master/doc/FAQ.md" target="_blank">常見問題 (FAQ)</a></li>
                <li><a rel="noreferrer" href="{{REPO_URL}}/blob/master/doc/COPYRIGHT_DISCLAIMER.md" target="_blank">版權聲明</a></li>
                <li><a rel="noreferrer" href="{{REPO_URL}}/blob/master/doc/TERMS_AND_CONDITIONS.md" target="_blank">使用條款</a></li>
                <li><a rel="noreferrer" href="{{REPO_URL}}/blob/master/doc/PRIVACY_POLICY.md" target="_blank">隱私權政策</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <h3>貢獻</h3>
            <ul>
                <li><a rel="noreferrer" href="{{REPO_URL}}/issues" target="_blank">問題回報/功能建議</a></li>
                <li><a rel="noreferrer" href="{{REPO_URL}}" target="_blank">協助開發 (Github)</a></li>
                <li><a rel="noreferrer" href="//ocf.tw/about/" target="_blank">支持開放源碼</a></li>
                <li><a rel="noreferrer" href="{{SPONSOR_URL}}" target="_blank">贊助我</a></li>
            </ul>
        </div>
    </div>
    <p>This website is built with Angular. This page reuses part of the styles from <a rel="noreferrer" href="//angular.io" target="_blank">angular.io</a>.</p>
    <p>Copyright 8maple.us &copy; 2020. Code licensed under MIT License.</p>
</footer>
