@import '../../../styles/variables';
footer {
    background-color: mat-color($primary);
    position: relative;
    flex: 1;
    padding: 36px;
    z-index: 0;
    font-weight: 300;
    p {
        text-align: center;
        margin: 0;
        font-size: .9em;
    }

    .footer-block {
        margin: 0 24px;
        vertical-align: top;
    }

    a {
        text-decoration: none;
        color: mat-color($foreground, text);
        &:hover {
            color: mat-color($foreground, text);
            text-decoration: underline;
        }
        &:visited {
            color: mat-color($foreground, text);
        }
    }


    h3 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 8px 0 12px;
    }


    div.grid-fluid {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        text-align: left;
        margin: 0 0 30px;

        ul {
            list-style-position: inside;
            padding: 0px;
            margin: 0px;

            li {
                list-style-type: none;
                padding: 4px 0;
                text-align: left;
            }
        }

        @include mobile-down{
            flex-direction: column;
            .footer-block {
                margin: 8px 24px;
            }
        }
    }

}
